@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-primary: rgba(247, 247, 247, 1);

  --clr-font-regular: rgba(128, 128, 128, 1);
  --clr-font-bold: rgba(17, 17, 17, 1);


  --fs-regular: 1.25rem;
  --fs-logo: 2rem;
  --fs-title: 2.9rem;
  --fs-banner: 3.2rem;
  --fs-primary: 2.98rem;
  --fs-sec: 1.5rem;
  --fs-basic: 0.92rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

/* Shared styles */
.quicksand-fonts {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

.navbar,
.banner,
footer {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
}

/* button styles */

.button {
  background-color: #fea301; /* Orange */
  border: none;
  color: white;
  text-align: center;
  padding: 10px 60px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #fea301;
  color: white;
  border: 2px solid #fea301;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 10px 60px;
}

.button1:hover {
  background-color: white;
  color: #fea301;
}

.button2 {
  background-color: #111111;
  color: white;
  border: 2px solid #111111;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 10px 60px;
}

.button2:hover {
  background-color: white;
  color: #111111;
}

.button3 {
  background-color: white;
  color: #8700ff;
  border: 2px solid white;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 10px 20px;
}

.button3:hover {
  background-color: #8700ff;
  color: white;
}

.button4 {
  background-color: white;
  color: #f0aa00;
  border: 2px solid white;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 10px 20px;
}

.button4:hover {
  background-color: #f0aa00;
  color: white;
}

.button5 {
  background-color: white;
  color: #64c8ff;
  border: 2px solid white;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 10px 20px;
}

.button5:hover {
  background-color: #64c8ff;
  color: white;
}

.button6 {
  background-color: #fea301;
  color: white;
  border: 2px solid #fea301;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button6:hover {
  background-color: white;
  color: #fea301;
}

/* Navbar style */
.header {
  background-color: var(--bg-primary);
}

.navbar {
  padding: 20px 0px;
  align-items: center;
  justify-content: space-between;
}

ul li,
a {
  text-decoration: none;
  list-style: none;
}

.nav-content {
  padding: 0;
  gap: 32px;
}

.logo img {
  height: 62px;
  width: 62px;
}
.nav-title {
  color: var(--clr-font-bold);
  font-size: var(--fs-logo);
  font-weight: var(--fw-700);
  margin: 0;
  padding: 0 11px;
}
.logo {
  justify-content: center;
  align-items: center;
}

.nav-links {
  font-size: var(--fs-regular);
  font-weight: var(--fw-500);
}

.home {
  color: #fea301;
}

.about {
  color: #01acfd;
}
.facilities {
  color: #05d4df;
}
.admission {
  color: #5d58ef;
}

#hamburger-logo {
  height: 30px;
  width: 30px;
}

/* Hidden hamburger logo */

@media only screen and (min-width: 576px) {
  #hamburger-logo {
    display: none;
  }
}

/* Banner styles */
.banner {
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.img-banner img {
  height: 575px;
  width: 470px;
}

.banner-container {
  width: 640px;
}
.banner-title {
  color: var(--clr-font-bold);
  font-size: 52px;
  font-weight: var(--fw-700);
  margin-bottom: 24px;
}

.primary-description {
  color: var(--clr-font-regular);
  font-size: var(--fs-regular);
  font-weight: var(--fw-400);
  margin-bottom: 24px;
}

.empowering {
  color: #fea301;
}

.vision {
  color: #01acfd;
}
/* standard curriculum section style */

.curriculum {
  background-image: url(../assets/bg.png);
}
.primary-heading {
  color: var(--clr-font-bold);
  font-size: var(--fs-primary);
  font-weight: var(--fw-700);
  text-align: center;
  margin-top: 60px;
}

.card-container,
.stories-container {
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 30px;
}
.card img {
  width: 136px;
  height: 136px;
}
.card {
  /* background: linear-gradient(#DEF5FF, #FFFFFF 40%); */
  justify-items: center;
  padding: 50px 38px;
  border-radius: 19px;
}

.bg-blue {
  background: linear-gradient(#def5ff, #ffffff 40%);
  border: 2px solid #def5ff;
}

.bg-yellow {
  background: linear-gradient(#fff4dc, #ffffff 40%);
  border: 2px solid #fff4dc;
}
.bg-purple {
  background: linear-gradient(#eee1ff, #ffffff 40%);
  border: 2px solid #eee1ff;
}
.sec-heading {
  font-size: var(--fs-sec);
  font-weight: var(--fw-700);
  color: var(--clr-font-bold);
  margin: 0;
  padding: 32px;
}
.sec-description {
  width: 284px;
  font-size: var(--fs-basic);
  font-weight: var(--fw-500);
  font-family: "Raleway", sans-serif;
  color: var(--clr-font-regular);
  margin: 0;
  padding-bottom: 32px;
}
/* arrow design */

.arrow {
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 60px;
  gap: 10px;
}

.circle img {
  height: 34px;
  width: 26px;
}

/* Stories section styles */

.stories {
  background: url(../assets/bg.png), linear-gradient(#FFFFFF , #FEA301 200%);
}

.story-card-left{
  margin-left: 140px;
  width: 540px;
  height: 630px;
}
.story-1{
  background-color: white;
  border-radius: 16px;
}
.story-1 img {
  border-radius: 16px 16px 0 0;
}
.date1 {
  background-color: #3CD8E8;
  height: 47px;
  width: 174px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 47px;

  font-family: "Raleway", sans-serif;
  font-size: var(--fs-basic);
  font-weight: var(--fw-500);
  color: white;

  position: relative;
  left: 38px;
  top: -30px;
}
.story-heading1 {
  font-size: var(--fs-sec);
  font-weight: var(--fw-700);
  padding: 0 38px;
  margin: 0;
}
.story-description{
  font-family: "Raleway", sans-serif;
  font-size: var(--fs-basic);
  font-weight: var(--fw-500);
  margin: 0;
  padding: 47px 68px 26px 38px;
  color: rgba(102, 102, 102, 1);
}

/* story card right */

.story-card-right{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin-right: 140px;
  gap: 20px;
}

.story {
  width: 290px;
  height: 301px;
  background-color: white;
  border-radius: 16px;
}

.story img {
  border-radius: 16px 16px 0 0;
}

.date {
  background-color: #3CD8E8;
  height: 38px;
  width: 179px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 47px;

  font-family: "Raleway", sans-serif;
  font-size: var(--fs-basic);
  font-weight: var(--fw-500);
  color: white;

  position: relative;
  left: 38px;
  top: -30px;
}
.story-heading {
  margin: 0;
  padding: 0 38px 28px 38px;
  font-size: var(--fs-basic);
  font-weight: var(--fw-700);
}




/* Responsive design for mobile devices */

@media screen and (max-width: 576px) {
  .nav-title,
  .nav-content,
  .button1 {
    display: none;
  }

  .navbar {
    margin: 0;
    padding: 12px 16px;
    border: 1px solid #fea301;
  }
  .banner {
    flex-direction: column-reverse;
    padding: 10px;
    gap: 20px;
  }

  .banner-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .img-banner img {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .banner-title {
    margin-top: 0;
  }

  .card-container {
    flex-direction: column;
    margin: 0;
  }
  .card {
    width: 90%;
    padding: 10px;
  }
  .primary-heading {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
/* Responsive design for medium size screen */

@media screen and (min-width: 576px) and (max-width: 996px) {
  .navbar {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .banner {
    flex-direction: column-reverse;
  }

  .banner-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .img-banner img {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .banner-title {
    margin-top: 0;
  }

  .card-container {
    flex-direction: column;
    padding: 20px;
    margin: 0;
  }
  .card {
    width: 90%;
  }
  .primary-heading {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
